body { background: #f6696e; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 29px; display: flex; }
.block-payment-0 { color: #893209; font-size: 21px; margin-bottom: 5px; }
.block-cart-1 { color: #30aa79; font-size: 13px; margin-bottom: 5px; }
.block-helper-2 { color: #bde3fd; font-size: 14px; margin-bottom: 5px; }
.block-invoice-3 { color: #43a3e2; font-size: 19px; margin-bottom: 5px; }
.block-token-4 { color: #ba2761; font-size: 15px; margin-bottom: 5px; }